.list{
  display: flex;
  margin: 20px;
  background-color: rgb(173, 166, 166);
  box-shadow: 4px 4px 5px rgb(255, 255, 255);
  border-radius: 12px;
  color: rgb(95, 99, 60);
  font-size: large;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card{
  margin: 10px;  
  width: 400px;
}