

.list{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-between;
    align-content: center;
    perspective: 1000px;
}

.list-car{
	
   
}
