 body{
  background-color: white;
  margin: 20px;
  padding: 0;
 }

 .container{
    background-color: rgb(213, 216, 216);
    border-radius: 15px;
    margin: 10px;
 }

.botao{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.borda{
    border: 1px solid green;
}